@charset "utf-8";
/* CSS Document */

body {
	margin:0px;
	padding:0px;
	background-color:#f4f4f4;
	font-family:Arial;
}

#api_container {
	display:table;
	width:auto;
	height:auto;
	border-radius:5px;
	background-color:#FFF;
	box-shadow:0px 0px 5px #ccc;
	padding:20px;
	text-align:center;
	font-size:13px;
	margin:60px auto auto auto;
}

#api_container #comment {
	font-style:italic;
	font-size:11px;
	color:#909090;
}

#api_container #api {
	display:table;
	margin:auto;
	width:auto;
	height:auto;
}


#api_container input[type=submit] {
	width:auto;
	padding:0px 10px 0px 10px;
	height:30px;
	background-color:#E6E5D3;
	color:#4f4f4f;
	font-family:Arial;
	border:1px solid #CCC;
	cursor:pointer;
	-webkit-appearance:none;
	border-radius:3px;
}